:root{
    --color-scheme1: #b0dde4;
    --color-scheme2: #286fb4;
    --color-scheme3: #FFFFFF;
    --color-scheme4: #DF4C73;
    --color-scheme5: #97dde7;

}
*,
*::before,
*::after{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /* for some reason this is causing page to load and scroll down without any action */
}
html{
    background-color: var(--color-scheme2);
    /* scroll-behavior: smooth; */
}
/* styling for nav list flex container */
.nav-list{
    background: linear-gradient(var(--color-scheme2), var(--color-scheme5));
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0;
    border-bottom: #FFFFFF dashed 1px;
}
.nav-litem{
    list-style: none;
    margin: 10px;
}
.nav-litem a{
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
    padding: 15px;
    border-radius: 10%;
    border: 1px solid rgba(0,0,0,0.0);
}
/* nav list hover makes border visible add red shadow */
.nav-litem a:hover{
    border: 1px solid var(--color-scheme3);
    box-shadow: 5px 3px 5px var(--color-scheme4);
}
/* page heading layered background images first listed shows above */
#dev-Avatar{
    height: 300px;
    width: 100%;
    background-image:url(../images/devAvatar.png), url(../images/backgroundP.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: left , center;
    background-size: contain, cover;
    color: var(--color-scheme3);
}
#dev-Avatar h1{
    position: absolute;
    margin-left: 65vw;
    margin-top: 30px;
    padding-right: 25px;
}
/* about me section */
.about{
    color: var(--color-scheme4);
    background-color: var(--color-scheme1);
    display: flex;
    flex-wrap: nowrap;
}
.about p{
    color:black;
}
/* first element of class about container this case h2 about me */
.about :first-child{
    animation: 4s ease-out 0s 1 fadein;
    justify-content: center;
    align-items: center;
    padding: 50px 30px 30px;
}
/* calls animation duration of 4s ease out anim delay iteration count name */
.about p{
    padding: 10px 30px 10px;
}
/* on page load bring opacity from 0 to 100  */
@keyframes fadein{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
/* completed works styling */
#work-head{
    background: linear-gradient(var(--color-scheme1), var(--color-scheme2));
    text-align: center;
    margin: 0;
    padding: 20px;
}
.work-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    width: 80vw;
    margin: auto;
}
.image-anchor{
    border: 2px solid black;
    height: 350px;
    width: 49%;
    overflow: hidden;
}
.work-image{
    width: 100%;
}
.work-container a:nth-of-type(1){
    flex-grow: 3;
    width: 100vw;
}

/* below provied stylig for the form */
.contact-form{
    width: 50%;
    margin-right: 0;
    margin:auto;
}
.radio-label{
    margin: 5px 20px 10px;
    /* spacing for checkboxes */
}
.pref-cont{
    margin-bottom: 15px;
}
input[type=text], 
input[type=email],
input[type=tel]{
    width: 66.666%;
    display: block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 1em;
}
input[type=submit]{
    background-color: var(--color-scheme1);
    color: var(--color-scheme4);
    padding: 5px 10px 5px;
    border: 2px solid black;
    border-radius: 20%;
    margin-bottom: 10px;
}
input[type=submit]:hover{
    background-color: var(--color-scheme5);
    box-shadow: 3px 3px var(--color-scheme4);
    cursor: crosshair;
}
input:focus{
    box-shadow: 5px 6px 5px var(--color-scheme4);
    border: none;
    /* on focus click or tab in */
}
textarea{
    height: 150px;
    width: 90%;
}
/* form styling ^^^ */
/* sets social media icons */
.contact a img{
    height: 75px;
    width: 75px;
    margin: 10px 20px 10px;
    background-color: var(--color-scheme3);
    border-radius: 1.4em;
}
/* footer --------------------------------------------------------------- */
footer,
#footer-heading{
    background: linear-gradient(var(--color-scheme2),var(--color-scheme1));
    color: var(--color-scheme3);
    text-align: center;
    font-size: xx-large;
    text-decoration: none;
    padding-top: 1em;
    text-decoration: none;
    padding-bottom: 12px;
}
/* ========================================================================= */
@media screen and (max-width: 624px){
    .image-anchor{
        width: 100%;
    }
}