*{
    font-family: Arial, Helvetica, sans-serif;
}
.nav-list{
    background: linear-gradient(rgb(26, 26, 222), rgb(3, 5, 33));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
.nav-litem{
    list-style: none;
    margin: 10px;
}
.nav-litem a{
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
    padding: 15px;
    border-radius: 50%;
}
.nav-litem a:hover{
  background-color: rgb(69, 91, 119);
}
.nav-list li:last-child{
    margin-left: auto;
}
#dev-Avatar{
    height: 300px;
    width: 100%;
    background-image:url(../images/devAvatar.png), url(../images/backgroundP.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: left , center;
    background-size: contain, cover;
}
