.nav-list,
.about{
  flex-direction: column;
}
#dev-Avatar h1{
   margin-left: 55vw;
}
.work-container{
    flex-direction: column;
    width: 100%;
}
.work-container a:nth-of-type(1){
    flex-grow: 2;
    width: 100%;
}
.contact{
    width: 100%;
}
.contact::after{
        content: "";
        clear: both;
        display: table;
}
.contact-form{
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 15px;
}
.contact a img{
    height: 50px;
    width: 50px;
    margin: 10px 20px 10px;
    background-color: var(--color-scheme3);
    border-radius: 1.4em;
}
footer{
    bottom: 0px;
}

